html{
    -webkit-animation: fadein 2s; /* Safari and Chrome */
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

#progress-bar-style{
    color: #32383e;
    background-color: #5f9ea0;
}

#graphs {
    padding: 3px;
    border: 1px solid #1c1e22;
    border-radius: 10px;
    background-color: #485056;
}

#chLine{
    border-left: 1px solid #5daebc;
    border-right: 1px solid #5daebc;
}

#footer-labels{
    padding-top: 5px;
}

.card{
    top: 12vh;
}

h5{
    color: cadetblue;
    border-color: #fff;
}

span{
    display: flex;
    align-items: center;
}

span>b{
    padding-left: 3px;
    padding-right: 3px;
}

.transferPercentage{
    width: 40%;
    transition: width 0.6s ease;
}