html{
    animation: fadein 2s; /* Safari and Chrome */
}

@keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

form{
    left:15vw;
    position: absolute;
}

.fileChooser{
    position: absolute;
    width: 55vw;
}

.custom-switch{
    position: absolute;
    top: 24vh;
    width: 55vw;
}

.card{
    height: 95vh;
    position: absolute;
    width: 86vw;
    top: 2.5vh;
}

h4{
    color: cadetblue;
    border-color: #fff;
}

hr{
    position: absolute;
    width: 55vw;
    top: 31vh;
    background-color: cadetblue;
}

#BackUpFileSection{
    top: 39vh;
    position: absolute;
}


#ControlsSection{
    top: 79vh;
    position: absolute;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: cadetblue;
    background-color: cadetblue;
}

#execute{
    width: 55vw;
    border-color: cadetblue;
    color: cadetblue;
}